.menu-screen {
    display: none;

    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}
    
.menu-screen:after{
    content: '';
    width: 300px;
    height: 330px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: 0px;  
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
}

.screen-content{
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;

    color: #fff;
  }


.container {
    height: 100vh;
    width: 100vw;
    background-color: hsla(200,40%,30%,.4);
    background-image:		
        url('../img/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
        url('../img/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('../img/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('../img/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('../img/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
    }
}